# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/
local_settings.py

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# VS Code
.vscode/

# dotenv
*.env
.env.*
.idea/inspectionProfiles/profiles_settings.xml
.idea/jupyter-settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/WS-Poked-X-Project.iml
webproj/__pycache__/__init__.cpython-311.pyc
webproj/__pycache__/__init__.cpython-311.pyc
webproj/__pycache__/settings.cpython-311.pyc
webproj/__pycache__/urls.cpython-311.pyc
