@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

/* ---------- GERAL ---------- */
body {
    font-family: 'Oxanium', cursive;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
    margin: 0;            
    padding: 20px;  

    /* Fallback e uso da variável */
    --type-color: #A8A878;
    background-color: var(--type-color);
    color: white;
}

.card {
    background: white;
    color: #000;
    width: 500px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: -2px 3px 0 #7e5813, 15px 15px 0 #69471fab;
    position: relative;
}

.header img {
    width: 50px;
}

.type {
    background-color: var(--type-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.image img {
    width: 120px;
    margin: 10px 0;
}

.info {
    text-align: left;
    font-size: 16px;
}

.highlight {
    font-weight: bold;
}

.description {
    font-size: 17px;
    text-align: justify;
    margin: 25px 10px;
    color: #555;
}

.stat {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 25px;
    gap: 5px;
}

.stats {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.bar {
    width: 150px;
    height: 10px;
    background: #e6e6e6;
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 5px;
}

.fill {
    height: 100%;
    background-color: var(--type-color);
    opacity: 0.9;
}

/* ---------- CORES POR TIPO ---------- */
body.type-normal   { --type-color: #A8A878; }
body.type-fire     { --type-color: #F08030; }
body.type-water    { --type-color: #6890F0; }
body.type-electric { --type-color: #F8D030; }
body.type-grass    { --type-color: #78C850; }
body.type-ice      { --type-color: #98D8D8; }
body.type-fighting { --type-color: #C03028; }
body.type-poison   { --type-color: #A040A0; }
body.type-ground   { --type-color: #E0C068; }
body.type-flying   { --type-color: #A890F0; }
body.type-psychic  { --type-color: #F85888; }
body.type-bug      { --type-color: #A8B820; }
body.type-rock     { --type-color: #B8A038; }
body.type-ghost    { --type-color: #705898; }
body.type-dragon   { --type-color: #7038F8; }
body.type-dark     { --type-color: #705848; }
body.type-steel    { --type-color: #B8B8D0; }
body.type-fairy    { --type-color: #EE99AC; }
