<div class="sidebar" typeof="schema:WPSideBar" resource="#main-nav">
  <div class="sidebar-header" property="schema:headline">
    <div class="pixel-logo" id="pixel-logo"></div>
    <h1 property="schema:name">POKED-X</h1>
    <p property="schema:description">POKEMON DATABASE</p>
  </div>
  
  <ul class="nav" typeof="schema:SiteNavigationElement">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'search_pokemon' %}" data-page="search" property="schema:url">
        <div class="pixel-icon" id="articles-icon"></div>
        <span property="schema:name">SEARCH</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'battle' %}" data-page="battle" property="schema:url">
        <div class="pixel-icon" id="games-icon"></div>
        <span property="schema:name">FIGHT</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ask_question' %}" data-page="ask" property="schema:url">
        <div class="pixel-icon" id="ask-icon"></div>
        <span property="schema:name">ASK</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'compare_pokemon' %}" data-page="compare" property="schema:url">
        <div class="pixel-icon" id="ask-icon"></div>
        <span property="schema:name">COMPARE</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'compare_teams' %}" data-page="compare-teams" property="schema:url">
        <div class="pixel-icon" id="compare-teams-icon"></div>
        <span property="schema:name">COMPARE TEAMS</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'evolution_chain' %}" data-page="evolution-chain" property="schema:url">
        <div class="pixel-icon" id="ask-icon"></div>
        <span property="schema:name">EVOLUTIONS</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-page="about" property="schema:url">
        <div class="pixel-icon" id="about-icon"></div>
        <span property="schema:name">ABOUT US</span>
      </a>
    </li>
  </ul>
  
  <div class="sidebar-footer" property="schema:footer">
    <p property="schema:copyrightHolder">Poked-X</p>
    <p property="schema:slogan">All you need to know about pokemons!</p>
  </div>
</div>
